
* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.p-1 {
    padding: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* #region DEBUG */

[class*="col"] {
    border-radius: 5px;
    border: 1px solid white;
    min-height: 50px;
    background-color: lightseagreen;
}

[class*="col"]>[class*="col"] {
    background-color: lightgreen;
    font-size: 0.8rem;
}



/* #endregion DEBUG */