d-flex {
    display: flex;
}

justify-center {
    justify-content: center;
}

align-center {
    align-items: center;
}

text-center {
    text-align: center;
}

text-right {
    text-align: right;
}


* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}